@keyframes ldio-jzzpqtp3jl {
	0% { transform: rotate(0) }
	100% { transform: rotate(360deg) }
  }
  .ldio-jzzpqtp3jl div {
	   box-sizing: border-box!important;
	 }
  .ldio-jzzpqtp3jl > div {
	position: absolute;
	width: 51px;
	height: 51px;
	top: 24.5px;
	left: 24.5px;
	border-radius: 50%;
	border: 3px solid #000;
	border-color: #5b83e1 transparent #5b83e1 transparent;
	animation: ldio-jzzpqtp3jl 2s linear infinite;
  }
  
  .ldio-jzzpqtp3jl > div:nth-child(2), .ldio-jzzpqtp3jl > div:nth-child(4) {
	width: 43px;
	height: 43px;
	top: 28.5px;
	left: 28.5px;
	animation: ldio-jzzpqtp3jl 2s linear infinite reverse;
  }
  .ldio-jzzpqtp3jl > div:nth-child(2) {
	border-color: transparent #d51824 transparent #d51824
  }
  .ldio-jzzpqtp3jl > div:nth-child(3) { border-color: transparent }
  .ldio-jzzpqtp3jl > div:nth-child(3) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
  }
  .ldio-jzzpqtp3jl > div:nth-child(3) div:before, .ldio-jzzpqtp3jl > div:nth-child(3) div:after { 
	content: "";
	display: block;
	position: absolute;
	width: 3px;
	height: 3px;
	top: -3px;
	left: 21px;
	background: #5b83e1;
	border-radius: 50%;
	box-shadow: 0 48px 0 0 #5b83e1;
  }
  .ldio-jzzpqtp3jl > div:nth-child(3) div:after {
	left: -3px;
	top: 21px;
	box-shadow: 48px 0 0 0 #5b83e1;
  }
  
  .ldio-jzzpqtp3jl > div:nth-child(4) { border-color: transparent; }
  .ldio-jzzpqtp3jl > div:nth-child(4) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
  }
  .ldio-jzzpqtp3jl > div:nth-child(4) div:before, .ldio-jzzpqtp3jl > div:nth-child(4) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 3px;
	height: 3px;
	top: -3px;
	left: 17px;
	background: #d51824;
	border-radius: 50%;
	box-shadow: 0 40px 0 0 #d51824;
  }
  .ldio-jzzpqtp3jl > div:nth-child(4) div:after {
	left: -3px;
	top: 17px;
	box-shadow: 40px 0 0 0 #d51824;
  }
  .loadingio-spinner-double-ring-5bbyl6cnfrb {
	margin: 0 auto;
	width: 90px;
	height: 90px;
	display: inline-block;
	overflow: hidden;
	background: none;
  }
  .ldio-jzzpqtp3jl {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(0.9);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
  }
  .ldio-jzzpqtp3jl div { box-sizing: content-box; }